body {
  background-color: rgb(239, 210, 172);
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
}

.header {
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  flex-shrink: 0;
}

.header-links {
  color: white;
  font-size: 14px;
}

.logo {
  color: white;
  font-size: 24px;
}

.signup {
  background-color: #a9cafe;
  color: white;
  width: 96px;
  height: 32px;
  border-radius: 9px; /*Corners yay!*/
}

.below-header {
  padding: 60px 120px;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.text {
  display: flex;
  gap: 16px;
  flex-direction: column;

  h2 {
    font-size: 48px;
    color: white;
  }
  p {
    font: 18px;
    color: #ffffff;
  }
}

.below-header img {
  width: 800px;
  height: auto;
}

.middle {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 800px;
}
